.container{}
.imageGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}
.figure:first-child{
    margin-left: 0;
}
.figure:last-child{
    margin-right: 0;
}
.figure{
    margin-left: 10px;
    margin-bottom: 10px;
}
.image{
    position: relative;
    width: 300px;
    height: 200px;
}
.label{
    font-weight: 0.9em;
    font-style: italic;
    text-align: center;
}
.paragraph{}
.textLeaf{}
.strong{
    font-weight: bold;
}
.em{
    font-style: italic;
}