.container{
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.18);
}
.image{
    width: 100%;
    height: 220px;
    position: relative;
}
.title{
    font-size: 0.9em;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.readingDuration,
.date{
    margin-left: 20px;
    font-size: 0.8em;
    font-style: italic;
}
.headerRow{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 16px
}
.content{
}
.preview{
    padding: 16px
}