.container{
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 20px;
}
.image{
    width: 100%;
    height: 200px;
    position: relative;
}
.title{
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
}
.content{
    padding: 10px;
    text-align: justify;
}