.image{
    position: relative;
    width: 100%;
    height: 460px;
}
.body{
    margin: 16px;
}
.headerRow{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    animation: headerFadeIn 450ms ease;
}
@keyframes headerFadeIn {
    0%{ opacity: 0 }
    40%{ opacity: 0; transform: translate3d(-100px,0,0) }
    100%{ opacity: 1; transform: translate3d(0,0,0) }
}
.content{
    margin: 30px 0;
    animation: contentFadeIn 400ms ease;
}
@keyframes contentFadeIn {
    0%{ opacity: 0 }
    40%{ opacity: 0; transform: translate3d(0,30px,0) scale(0.95) }
    100%{ opacity: 1; transform: translate3d(0,0,0) scale(1) }
}
.title{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1em;
    text-transform: capitalize;
}
.date{
    margin-left: 20px;
    font-size: 0.8em;
    font-style: italic;
}
.footer{
    margin-top: 50px;
}
.tagRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag:first-child{
    margin-left: 0;
}
.tag{
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #000;
    background: #ddd;
    padding: 6px 10px;
    border-radius: 4px;
    margin-left: 10px;
    min-width: 80px;
    text-align: center;
}