.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag:last-child{
    margin-right: 0;
}
.tag{
    margin-bottom: 10px;
    padding: 6px 10px;
    margin-right: 10px;
    min-width: 80px;

    border-radius: 4px;
    font-size: 0.8em;
    color: #000;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms ease;
}
.tag:hover{
    background-color: #cdcdcd;
}