.container{
    position: relative;
    display: flex;
    flex-direction: row;
}


.item:first-child{
    margin-left: 0;
}
.item{
    width : 200px;
    height: 200px;
    margin-left: 10px;
    position: relative;
}