.container{
    position: relative;
    display: flex;
    flex-direction: row;
}


.item:last-child{
    margin-right: 0;
}
.item{
    width : 200px;
    height: 200px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}