body{
    margin:0;
    overflow-y: scroll;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;

    font-family: "Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    color: #333;
    padding: 16px 0;
}
@media (max-width: 916px) {
    .container{
        padding: 16px;
        width: calc( 100% - 32px )
    }
}
.wrapper{
    background: #eee;
    display: flex;
}
.header{

}