.background{
    background-color: #aaa;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.backgroundTransition{
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: fade 300ms;
}
@keyframes fade {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}
.imageLoader{
    position: absolute;
    width: 1;
    height: 1;
    top: 0;
}